<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%">Username</th>
        <th style="width: 20%">Voter Id Number</th>
        <th style="width: 40%">Voter Id</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allusers">
        <td class="userDataStyle">{{ user.username | titlecase }}</td>
        <td class="userDataStyle">{{ user.voterIdNumber }}</td>
        <td>
          <img
            src="{{ user.documentUrl || './assets/Default_Doc.png' }}"
            alt=""
          />
        </td>
        <td>
          <button
            (click)="allowUser(user)"
            class="approveBtn"
            [ngClass]="{
              approveBtn: !user.loginAllowed,
              approvedBtn: user.loginAllowed
            }"
          >
            {{ user.loginAllowed ? "Disapprove" : "Approve" }}
          </button>
        </td>
        <!-- <td>
          <button (click)="openRolesModal(user)" class="btn btn-info">
            Edit Roles
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
