<div class="container">
  <div *ngIf="!registerMode && !loginMode" style="text-align: center">
    <h1>Welcome To Kerala Vote Application</h1>
    <p class="lead">
      Register Yourself To Cast Your Vote On
      <span class="dateStyle">13-06-2023</span>
    </p>
    <strong class="tagLineStyle">Your Vote, Your Voice</strong>
    <div>
      <img class="animate__bounceIn" src="../../assets/vote.png" alt="" />
    </div>
    <div class="text-center mt-1">
      <button
        (click)="registerToggle()"
        class="signUpBtn me-2 animate__backInUp"
      >
        Sign Up
      </button>
      <button (click)="loginToggle()" class="signInBtn animate__backInUp">
        Sign In
      </button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancleRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
  <div *ngIf="loginMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-login (cancelLogin)="cancleLoginMode($event)"></app-login>
      </div>
    </div>
  </div>
</div>
