<!-- <div *ngFor="let candidate of allCandidates">
  <p>{{ candidate | json }}</p>
</div> -->

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%">CandidateName</th>
        <th style="width: 20%">PartyName</th>
        <th style="width: 20%">PartyLogo</th>
        <th style="width: 20%">Region</th>
        <th style="width: 20%">VoteCount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of allCandidates">
        <td class="candidateDataStyle">{{ candidate.candidateName }}</td>
        <td class="candidateDataStyle">{{ candidate.partyName }}</td>
        <td>
          <img
            class="partyLogo"
            src="{{ './assets/' + candidate.partyName + '.png' }}"
            alt=""
          />
        </td>
        <td class="candidateDataStyle">
          {{ candidate.district }}, {{ candidate.gramPanchayat }}
        </td>
        <td class="candidateDataStyle">{{ candidate.voteCount }}</td>
      </tr>
    </tbody>
  </table>
</div>
