<!-- <div *ngFor="let candidate of allCandidates">
  <p>{{ candidate | json }}</p>
</div> -->

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%">CandidateName</th>
        <th style="width: 20%">PartyName</th>
        <th style="width: 20%">PartyLogo</th>
        <th style="width: 20%">Region</th>
        <th style="width: 10%">VoteCount</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of allCandidates">
        <td class="candidateDataStyle">
          {{ candidate.candidateName | titlecase }}
        </td>
        <td class="candidateDataStyle">{{ candidate.partyName }}</td>
        <td>
          <img
            class="partyLogo"
            src="{{ './assets/' + candidate.partyName + '.png' }}"
            alt=""
          />
        </td>
        <td class="candidateDataStyle">
          {{ candidate.district }}, {{ candidate.gramPanchayat }}
        </td>
        <td class="candidateDataStyle">{{ candidate.voteCount }}</td>
        <td>
          <button
            [disabled]="delete_disable"
            class="btn btn-danger"
            (click)="deleteCandidate(candidate)"
          >
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
