@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

img {
  width: 100px;
  height: 100px;
  border: 1px;
  border-radius: 50%;
}

.candidateDataStyle {
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
