@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.brandNameBg {
  background-color: #d4ebfc;
  border-radius: 50%;
}

.brandName {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.profileLogo {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.brandLogo {
  max-height: 80px;
  border-radius: 50%;
  border: 1px solid #000000;
}

.customNavStyle {
  font-size: 20px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: 1px solid rgb(249, 104, 128);
  background-color: rgb(89, 96, 236);
  border-radius: 20px;
}
.userBtn {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
