@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.brandNameBg {
  background-color: #d4ebfc;
  border-radius: 50%;
}

.brandName {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.profileLogo {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}

.brandLogo {
  max-height: 80px;
  border-radius: 50%;
  border: 1px solid #000000;
}
