@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.form-horizontal {
  display: block;
  /* margin: 50% auto; */
}

img {
  width: 450px;
  height: 400px;
  position: relative;
  bottom: 100px;
}
form {
  position: relative;
  bottom: 100px;
}
.loginBtnStyle {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
