<img class="animate__bounceIn" src="../../assets/vote_bg.png" alt="" />
<form
  #loginForm="ngForm"
  class="form-horizontal"
  (ngSubmit)="login()"
  autocomplete="off"
>
  <h2 class="text-center signUpText">Sign In</h2>
  <hr />
  <div class="mt-5 mb-3">
    <input
      name="username"
      [(ngModel)]="model.username"
      class="form-control me-2"
      type="text"
      placeholder="Username"
      style="border: 2px solid rgb(243, 108, 130); color: rgb(243, 108, 130)"
    />
  </div>

  <div class="mb-3">
    <input
      name="password"
      [(ngModel)]="model.password"
      class="form-control me-2"
      type="password"
      placeholder="Password"
      style="border: 2px solid rgb(146, 108, 243); color: rgb(146, 108, 243)"
    />
  </div>
  <div class="text-center">
    <button class="btn btn-success" type="submit">Login</button>
    <button class="btn btn-default" type="button" (click)="cancle()">
      Cancel
    </button>
  </div>
</form>
