<div class="modal-header">
  <h4 class="modal-title pull-left">Vote {{ candidateName }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card mb-4 mt-5">
    <div class="card-img-wrapper">
      <img
        src="{{ './assets/' + partyName + '.png' }}"
        alt="{{ partyName }}"
        class="card-img-top"
      />
    </div>
    <div class="card-body p-1">
      <h5 style="color: #958383" class="card-title text-center mb-1">
        {{ candidateName }}
      </h5>
      <p class="card-text text-muted text-center">
        {{ region }}
      </p>
      <p class="text-center partyNameStyle">{{ partyName }}</p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default voteBtn" (click)="confirmVote()">
    Confirm
  </button>
  <button
    type="button"
    class="btn btn-default cancelBtn"
    (click)="bsModalRef.hide()"
  >
    Cancel
  </button>
</div>
